#!/bin/bash

# Colors
RED='\033[0;31m'
GREEN='\033[0;32m'
BLUE='\033[0;34m'
PURPLE='\033[0;35m'
BLINK='\e[5;32;40m'
NB='\e[m'   # No Blink
NC='\033[0m' # No Color

printf "Provisioner bash example..."
sleep 1
printf "${GREEN}${BLINK}running${NC}${NB}"
echo


# sudo without password
if grep -P "^%wheel\s*ALL=\(ALL\)\s*NOPASSWD:\s*ALL" /etc/sudoers > /dev/null; then
  echo "wheel is already in NOPASSWD mode"
else
  sed -i 's/^%wheel/## wheel/g' /etc/sudoers
  sed -i 's/^# %wheel/%wheel/g' /etc/sudoers
fi

## copy default network config for nat
# in this setup public ip is always eth0, so if eth1 exist it will be the nat if
if ip link | grep eth1 > /dev/null; then 
  ETH=eth1
else
  ETH=eth0
fi
cat << EOF > /etc/sysconfig/network-scripts/ifcfg-${ETH}
TYPE=Ethernet
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
NAME=${ETH}
DEVICE=${ETH}
ONBOOT=yes
IPADDR={{ packer_centos7_network_ip }}
PREFIX=24
GATEWAY={{ packer_centos7_network_gateway }}
DNS1={{ packer_centos7_network_dns }}

EOF

# add a first user
if ! grep {{ packer_ansible_user }} /etc/passwd > /dev/null; then
  useradd {{ packer_ansible_user }} -G wheel -u 1043 -m
fi 

if [ ! -d /home/{{ packer_ansible_user }}/.ssh ]; then
  mkdir /home/{{ packer_ansible_user }}/.ssh
fi
echo '{{ packer_authorized_key }}' > /home/{{ packer_ansible_user }}/.ssh/authorized_keys
chown -R {{ packer_ansible_user }}:{{ packer_ansible_user }} /home/{{ packer_ansible_user }}/.ssh

# don't permit root access after provisioning
sed -i 's/^#PermitRootLogin yes/PermitRootLogin no/' /etc/ssh/sshd_config

